* { 
    font-family: sans-serif;
  }
  .size {
    font-size: 200%;
  }
 .color {
    background-color: yellow;
 }
img {
    margin-right: 100em;
}
table {
    border-collapse: collapse;      
    width: 10em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    height: 3em;
}


th, td {
    text-align: center;
}



h1, h2{
    color: maroon;
  }

.link a {
    text-decoration: none;
    color: blue;
}





